#saveForm {
    background-color: #000033;
    cursor: pointer;
    color: #fff;
    border: 2px solid #000033;
    transition: .3s;
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0;
    display: inline-block;
    transition: .3s;
}
#saveForm:hover, #saveForm:focus, #saveForm:active {
    background-color: #fff;
    color: #000033;
}